<div class="row">
    <div class="col-lg-2" id="btn">
        <button type="button" class="btn btn-outline-light" routerLink="/editaboutme/1" *ngIf="isLogged">
            Editar Persona
        </button>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{person.img}} class="img-fluid" id="profilephoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{person.name}} {{person.lastname}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{person.description}}</p>
        </span>
    </div>
</div> 